<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">IPMan</a>

      <div class="nav-collapse">
        <ul class="nav">
          <% _.each(views, function(view) { %>
            <% if(view.showInMenu && (view.accessLevel <= accessLevel)) { %>
              <li class="<%= view.menuClass %>"><a href="#/<%= view.menuLink %>">
              <% if(view.menuIcon) { %>
                <i class="<%= view.menuIcon %> icon-white"></i>
              <% } %>
              <%= view.menuText %></a></li>
            <% } %>
          <% }); %>
        </ul>
        <% if(loggedIn) { %>
        <div class="nav pull-right">
          <button class="btn btn-danger btn-logout">Logout</button>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>