<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">IPMan</a>
      <ul class="nav">
        <% _.each(views, function(view) { %>
          <% if(view.showInMenu && (view.accessLevel <= user.accessLevel)) { %>
            <li class="<%= view.menuClass %>"><a href="#/<%= view.route %>">
            <% if(view.menuIcon) { %>
              <i class="<%= view.menuIcon %> icon-white"></i>
            <% } %>
            <%= view.menuText %></a></li>
          <% } %>
        <% }); %>
      </ul>
      <% if(user.loggedIn) { %>
      <ul class="nav pull-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= user.name %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#">Your Account</a></li>
            <li class="divider"></li>
            <li><a href="#" id="logout">Logout</a></li>
          </ul>
        </li>
      </ul>
      <% } %>
    </div>
  </div>
</div>