<div class="hero-unit">
  <% if(_.isEmpty(session)) { %>

  <div class="well">
    <h2>Please Login</h2>
    <hr />
    <div class="alert alert-error login-error" style="display:none"></div>
    <form class="login-form form-horizontal">
      <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
          <input type="text" name="username" placeholder="Username" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" name="password" placeholder="Password" />
        </div>
      </div>
      <hr />
      <div class="controls">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>

  <% } else { %>

  <div class="well">
    <h2>Welcome <%= session.name %>...</h2>
    <hr />
    <p>Welcome to IPMan. From here you can manage your IP Address leases.</p>
    <p>Click the leases tab to begin.</p>
  </div>

  <% } %>
</div>