<div class="hero-unit">
  <div class="well">
    <h2>New Lease</h2>
    <hr />
    <div class="alert alert-error lease-error" style="display:none"></div>
    <form class="lease-form form-horizontal">
      <div class="control-group">
        <label class="control-label" for="subnets">Subnets</label>
        <div class="controls">
          <select id="subnet-select">
            <% _.each(subnets, function(subnet) { %>
            <% if(subnet == currentSubnet) { %>
            <option selected="selected" value="<%= subnet %>"><%= subnet %></option>
            <% } else { %>
            <option value="<%= subnet %>"><%= subnet %></option>
            <% } %>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="ipAddress">IP Address</label>
        <div class="controls">
          <select name="id">
            <% _.each(ipAddresses, function(ipAddress) { %>
            <% if(ipAddress.get("subnet") == currentSubnet) { %>
            <option value="<%= ipAddress.get("_id") %>"><%= ipAddress.get("ipAddress") %></option>
            <% } %>
            <% }); %>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="hostname">Hostname</label>
        <div class="controls">
          <input type="text" name="hostname" placeholder="Hostname" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="location">Location</label>
        <div class="controls">
          <input type="text" name="location" placeholder="Location" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="machineType">Machine Type</label>
        <div class="controls">
          <select name="machineType">
            <option value="Physical">Physical</option>
            <option value="VM">VM</option>
          </select>
        </div>
      </div>
      <hr />
      <div class="controls">
        <button type="submit" class="btn btn-primary">Create Lease</button>
      </div>
    </form>
  </div>
  <div class="well">
    <% if(session.get("username") == "root") { %>
    <h2>All Leases</h2>
    <% } else { %>
    <h2>Your Leases</h2>
    <% } %>
    <hr />
    <table class="table">
      <thead>
        <tr>
          <% if(session.get("username") == "root") { %>
          <th>Username</th>
          <% } %>
          <th>IP Address</th>
          <th>Hostname</th>
          <th>Location</th>
          <th>Machine Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% _.each(leases, function(lease) { %>
          <tr>
            <% if(session.get("username") == "root") { %>
            <td><%= lease.get("reservedBy") %></td>
            <% } %>
            <td><%= lease.get("ipAddress") %></td>
            <td><%= lease.get("hostname") %></td>
            <td><%= lease.get("location") %></td>
            <td><%= lease.get("machineType") %></td>
            <td><button class="btn btn-danger btn-release" value="<%= lease.get("_id") %>">Release</button></td>
          </tr>
        <% }); %>
      </tbody>
    </ul>
  </div>
</div>