<div class="hero-unit">
  <% if(session.get("username") == "root") { %>
  <h2>All Leases</h2>
  <% } else { %>
  <h2>Your Leases</h2>
  <% } %>
  <hr />
  <div class="well">
    <table class="table striped">
      <thead>
        <tr>
          <th>IP Address</th>
          <th>Hostname</th>
          <th>Location</th>
          <th>Machine Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% _.each(leases, function(lease) { %>
          <tr>
            <td><%= lease.get("ipAddress") %></td>
            <td><%= lease.get("hostname") %></td>
            <td><%= lease.get("location") %></td>
            <td><%= lease.get("machineType") %></td>
            <td><button class="btn btn-danger btn-release" value="<%= lease.get("_id") %>">Release</button></td>
          </tr>
        <% }); %>
      </tbody>
    </ul>
  </div>
</div>