<div class="hero-unit">
  <h1 class="page-header"><%= header %></h1>
  <hr />
  <div class="well">
    <p>
      This site is currently under construction. The IPMan web app will allow you to manage you IP address allocations with ease. The app will allow you to;
    </p>
    <ul>
      <li>As an Administrator:</li>
      <ul>
        <li>Manage users</li>
        <li>Manage subnets</li>
        <li>Manage IP leases</li>
        <li>Manage locations</li>
      </ul>
      <li>As a User:</li>
      <ul>
        <li>Lease an IP address</li>
        <li>Return an IP address</li>
        <li>Edit your IP leases</li>
      </ul>
    </ul>
  </div>

  <div class="btn">Button</div>
  <div class="btn btn-primary">Button Primary</div>
  <div class="btn btn-warning">Button Warning</div>
  <div class="btn btn-danger">Button Danger</div>
  <div class="btn btn-success">Button Success</div>
  <div class="btn btn-info">Button Info</div>
  <div class="btn btn-inverse">Button Inverse</div>

  <div class="btn-group">
    <div class="btn">one</div>
    <div class="btn">two</div>
    <div class="btn">three</div>
  </div>

  <div class="btn-toolbar">
    <div class="btn">one</div>
    <div class="btn">two</div>
    <div class="btn">three</div>
  </div>

  <div class="btn"><div class="caret"></div></div>

  <div class="alert">Alert<div class="close">Close</div></div>
  <div class="alert alert-success">Alert Success<div class="close">Close</div></div>
  <div class="alert alert-danger">Alert Danger<div class="close">Close</div></div>
  <div class="alert alert-error">Alert Error<div class="close">Close</div></div>
  <div class="alert alert-info">Alert Info<div class="close">Close</div></div>

  <div class="breadcrumb">Home > Page 1 > Sub Page 1</div>
</div>