<div class="hero-unit" style="height:260px;">
    <h2>Under Construction</h2>

    <p>
        This site is currently under construction. The IPMan web app will allow you to manage you IP address allocations with ease. The app will allow you to;
        <ul>
            <li>As an Administrator:</li>
            <ul>
                <li>Manage users</li>
                <li>Manage subnets</li>
                <li>Manage IP leases</li>
                <li>Manage locations</li>
            </ul>
            <li>As a User:</li>
            <ul>
                <li>Lease an IP address</li>
                <li>Return an IP address</li>
                <li>Edit your IP leases</li>
            </ul>
        </ul>
    </p>

</div>